
/*

!/docs/
!/source/
!/webpack/

!/.editorconfig
!/.eslintignore
!/.eslintrc.yaml
!/.firebaserc
!/.gitignore
!/.yarnrc

!/babel.config.js
!/commands.sh
!/firebase.json
!/package-scripts.yml
!/package.json
!/webpack.config.js
