
/*

!/assets/
!/docs/
!/images/
!/pug/
!/source/
!/styles/
!/webpack/

!/.editorconfig
!/.eslintignore
!/.eslintrc.yaml
!/.firebaserc
!/.gitignore
!/.yarnrc

!/alias.js
!/babel.config.js
!/commands.sh
!/firebase.json
!/package-scripts.yml
!/package.json
!/postcss.config.js
!/webpack.config.js
