
doctype html

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width')
		link(rel='icon' href='../assets/index.png')
		link(rel='stylesheet' href='../styles/index.sss')
		script(defer src='/index.js')
		title displacement
